@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
}
.bgContainer{
    background-image: url("../public/bg-desktop-dark.jpg");
    width: 100%;
    height: 30%;
}

.secondBg{
    width: 100%;
    height: 70%;
    background-color: hsl(235, 21%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appContainer{
    position: absolute;
    z-index: 1000;
    top:30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
}
.titleContainer{
    width: 500px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.todo{
    color:hsl(236, 33%, 92%);
    letter-spacing: 12px;
    font-weight: 700;
    height: 100%;
    width: 90%;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}
.themeLogo{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 10%;
}
.moon{
    display:none;
}
.inputContainer{
    width: 100%;
    height: 45px;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 4px 4px 4px 2px rgb(37, 39, 60, 0.4);
    color:hsl(236, 33%, 92%);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.input{
    background-color: transparent;
    height: 100%;
    width: 90%;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:hsl(236, 33%, 92%);
    border-style: none;
    border-radius: 5px;
}
.tasksContainer{
    background-color: hsl(235, 24%, 19%);
    box-shadow: 4px 4px 4px 2px rgb(37, 39, 60, 0.4);
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.task{
    display: flex;
    flex-direction: row;
    padding:15px;
    width: 500px;
    height: 55px;
    justify-content: center;
    align-items: center;
    color:hsl(236, 33%, 92%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    transition: 0.3s;
    border-bottom: 0.5px hsl(234, 11%, 52%) solid;    
}
.task:hover{
    background-color: hsl(233, 14%, 35%);
}
.closeButton{
    height: 100%;
    width: 5%;
}

.completeButton{
    height: 100%;
    width: 5%;
    border: solid 1px hsl(236, 33%, 92%);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.completedButton{
    background-image: linear-gradient(to right bottom, #57ddfd, #00c9ff, #00b0ff, #788dff, #c058f3);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskContent{
    height: 100%;
    width: 90%;
}
.taskContentComplete{
    height: 100%;
    width: 90%;
    text-decoration: line-through;
    color:rgb(228, 229, 241, 0.4);
}



/* FILTROS */

.filtersContainer{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 15px;
    width: 500px;
    height: 40px;
    color:rgb(228, 229, 241, 0.4);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}
.filtersButtons{
    display: flex;
    flex-direction: row;
    width: 33.3%;
}

.filterButton{
    padding:10px;
    transition: 0.3s;
}

.filterButton:hover{
    color:hsl(220, 98%, 61%);
    font-weight: 700;
}
.filterButton:focus{
    color:hsl(220, 98%, 61%);
    font-weight: 700;
}

@media(max-width:500px){
    .appContainer{
        position: absolute;
        z-index: 1000;
        top:30px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:fit-content;
    }
    .titleContainer{
        width: 350px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }
    .task{
        display: flex;
        flex-direction: row;
        padding:15px;
        width: 350px;
        height: 55px;
        justify-content: center;
        align-items: center;
        color:hsl(236, 33%, 92%);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        transition: 0.3s;
        border-bottom: 0.5px hsl(234, 11%, 52%) solid;    
    }
    .completeButton{
        height: 100%;
        width:28px;
        border: solid 1px hsl(236, 33%, 92%);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
    }

    .filtersContainer{
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        padding: 15px;
        width: 350px;
        height: 40px;
        color:rgb(228, 229, 241, 0.4);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
    }
    .filtersButtons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 5px;
        position:absolute;
        bottom: -60px;
        height: 40px;
        background-color:hsl(235, 24%, 19%);
        width: 350px;
        box-shadow: 4px 4px 4px 2px rgb(37, 39, 60, 0.4);

    }
    
    .filterButton{
        padding:10px;
        transition: 0.3s;
    }
    
    .filterButton:hover{
        color:hsl(220, 98%, 61%);
        font-weight: 700;
    }
    .filterButton:focus{
        color:hsl(220, 98%, 61%);
        font-weight: 700;
    }
}
